[Unit]
Description=Init AC target
After=multi-user.target tlp.service
Before=shutdown.target

[Service]
Type=oneshot
ExecStart=/usr/bin/run-on-ac /usr/local/bin/ac_bat_target ac_start

[Install]
WantedBy=multi-user.target
