[general]
step = 1
step-big = 10

[ui]
hide-unavailable-profiles = yes
hide-unavailable-ports = yes

[renames]
'Comet.*Speaker \+ Headphones.*' = 'Speaker + Headphones'
'Comet.*Headphones Stereo Microphone' = 'Headphones Mic'
'Comet.*Digital Microphone' = 'Laptop Mic'
'Webcam.*' = 'Webcam'

[ignores]
hdmi = '.*HDMI.*'
monitor = '.*Monitor of.*'
