[Desktop Entry]
Type=Application
Name=DBeaver CE
{% if ansible_distribution == "Void" %}
Icon=io.dbeaver.DBeaverCommunity
Exec=flatpak run io.dbeaver.DBeaverCommunity
{% else %}
Icon=DBeaver
Exec=dbeaver
{% endif %}
Shortcut=dd
