[Desktop Entry]
Type=Application
Name=Quickdocs
{% if ansible_distribution == "Void" %}
Icon=com.github.mdh34.quickdocs
Exec=flatpak run com.github.mdh34.quickdocs
{% else %}
Icon=quickdocs
Exec=quickdocs
{% endif %}
Shortcut=dq
