* {
  background: #{{ conf.colors.base01 }}ff;
  foreground: #{{ conf.colors.base05 }}ff;
  lightbg:    #{{ conf.colors.base02 }}ff;
  lightfg:    #{{ conf.colors.base05 }}ff;
  red:        #{{ conf.colors.base08 }}ff;
  blue:       #{{ conf.colors.base0D }}ff;
  font:       "{{ conf.theme.regular_font }} {{ conf.theme.regular_font_size }}";
}
